<!DOCTYPE html>
<html>
	<head>
		<title>Unit 2 Assessment</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>Favorite Fruits</h1>
		<% if (todos.length) { %>
		<ul>
			<% todos.forEach(function(t, idx) { %>
			<li>
				<%= t.todo %>
			</li>
			<% }) %>
		</ul>
		<% } else { %>
		<h3>You don't like any fruit?!</h3>
		<% } %>
		<hr />
		<form action="/todos" method="POST">
			<input type="text" name="todo" required />
			<button type="submit">ADD A FRUIT</button>
		</form>
	</body>
</html>
