<!DOCTYPE html>
<html>
	<head>
		<title>Unit 2 Assessment</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>Favorite Fruits</h1>
		<% if (fruits.length) { %>
		<ul>
			<% fruits.forEach(function(fruit) { %>
			<li>
				<%= fruit %>
			</li>
			<% }) %>
		</ul>
		<% } else { %>
		<h3>You don't like any fruit?!</h3>
		<% } %>
		<hr />
		<form action="/fruits" method="POST">
			<input type="text" name="fruit" required />
			<button type="submit">ADD A FRUIT</button>
		</form>
	</body>
</html>
